html, body {
    height: 80%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}


th {
    background-color: #4CAF50;
    color: white;
}


button {
    background-color: #1C5737;
    border: none;
    color: white;
    width: 200px;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    cursor: pointer;
}

.return {
    background-color: #1C5737;
    border: none;
    color: white;
    padding: 11px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


input[type=text] {
    background-color: #e6ffe6;
    border: none;
    width: 162px;
    color: #001a00;
    padding: 9px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=datetime] {
    background-color: #e6ffe6;
    border: none;
    width: 162px;
    color: #001a00;
    padding: 9px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



select {
    background-color: #e6ffe6;
    border: none;
    width: 200px;
    color: #001a00;
    padding: 9px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text]:focus {
    border-color:#001a00;
}

input[type=submit] {
   background-color: #1C5737;
    border: none;
    color: white;
    width: 200px;
    padding: 11px 82px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


input[type=password] {
    background-color: #e6ffe6;
    border: none;
    width: 162px;
    color: #001a00;
    padding: 9px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

legend {
    font-size:2em

}

body {
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    vertical-align: center;
    opacity: 1.6;
    background-color: #bccccc;
}